
<div class="col-md-12 text-light mb-3">
  <div class="d-flex flex-grow w-50 align-items-center " style="background-color: #ff9f1c;">
  <i class="fas fa-briefcase fs-3 m-1"></i>
  <p class="fs-3 m-1">Portfolio</p>
</div>
</div>

            <div class="row g-2 d-flex justify-content-center text-center">
              <div class="undraw bg-primary col-5  mx-2">
                <img class="img-fluid" src="../../../assets/img/undraw_experience_design_eq3j.svg">
                <div class="caption">
                  <p class="fs-1">bbbbb</p>
                  <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  <p>css | html</p>
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                </div>
              </div>
              <div class="undraw bg-danger col-5">
                <img class="img-fluid" src="../../../assets/img/undraw_heatmap_uyye.svg">
                <div class="caption">
                  <p class="fs-1">bbbbb</p>
                  <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  <p>css | html</p>
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                </div>
              </div>
              <div class="undraw bg-warning col-5 mx-2">
                <img class="img-fluid" src="../../../assets/img/undraw_static_website_0107.svg">
                <div class="caption">
                  <p class="fs-1">bbbbb</p>
                  <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  <p>css | html</p>
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                </div>
              </div>
              <div class="undraw bg-info col-5 ">
                <img class="img-fluid" src="../../../assets/img/undraw_wordpress_utxt.svg">
                <div class="caption">
                  <p class="fs-1">bbbbb</p>
                  <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  <p>css | html</p>
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                </div>
              </div>
            </div>
