
<div class="col-md-12 text-light mb-3">
  <div class="d-flex flex-grow w-50 align-items-center " style="background-color: #fe5e41;">
  <i class="fas fa-id-card fs-3 m-1"></i>
  <p class="fs-3 m-1">About Me</p>
</div>
</div>
<p class="fs-1 text-center">Hey, I'm Beshoy Fawzi</p>
<p class="fs-5">I'm a <span class="info">full-stack web developer and WordPress Developer</span>
  and am still in the process of gaining more experience through more years
  My educational background possesses a bachelor’s degree in management information systems.
  take courses in web development and software engineering effectively makes me more skilled
  in this field to work in any circumstances.
  I am strong in front-end coding. I like to play with codes and results in the best output
  from my work. I have mastered in web languages like<span class="info"> PHP, HTML, CSS,
    bootstrap, and js</span>.
</p>
<hr />
<p class="fs-3 text-center text-primary">Why Work With Me?</p>

<div class="row d-flex flex-column">
  <div class="col-md-12 d-flex flex-row  justify-content-center">
    <p class="fs-5">Analytical work</p>
    <i class="fas fa-check text-primary m-2"></i>
    <p class="fs-5">Results driven</p>
  </div>
  <!-- ---------------------------------------------------------- -->
  <div class="col-md-12 d-flex flex-row justify-content-center">
    <p class="fs-5">Clear communicato</p>
    <i class="fas fa-check text-primary m-2"></i>
    <p class="fs-5">Deadline conscious</p>
  </div>
  <!-- ---------------------------------------------------------- -->
  <div class="col-md-12 d-flex flex-row justify-content-center">
    <p class="fs-5">Strong interpersonal skills</p>
    <i class="fas fa-check text-primary m-2"></i>
    <p class="fs-5">Big-picture problem solver</p>
  </div>
</div>

