<aside id="aside-left" class="aside-left">
    <nav id="navbar-example3" class="navbar navbar-light flex-column align-items-stretch shadow-lg p-3 rounded">
      <div class="im text-center pb-5">
        <img class="img-fluid" src="../../../assets/img/undraw_profile_pic_ic5t.svg">
      </div>
      <nav class="nav nav-pills flex-column table ">
        <a class="pc nav-link fs-5" href="#About"><span><i class="fas fa-id-card pe-5"></i></span>About
          Me</a>
        <hr>
        <a class="nav-link fs-5" href="#Portfolio"><span><i class="fas fa-briefcase pe-5"></i></span>Portfolio</a>
        <hr>
        <a class="nav-link fs-5" href="#Skills"><span><i class="fas fa-cog pe-5"></i></span>Skills</a>
        <hr>
        <a class="nav-link fs-5" href="#Resume"><span><i class="fas fa-bars pe-5"></i></span>Resume</a>
        <hr>
        <a class="nav-link fs-5" href="#Contact"><span><i class="fas fa-envelope pe-5"></i></span>Contact</a>
      </nav>
    </nav>
  </aside>
