
<!-- <router-outlet></router-outlet> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-xl-3">
   <app-aside-left></app-aside-left>
  </div>
  
  <aside id="aside-right" class="aside-right col-sm-12 col-md-6 col-xl-8 " data-bs-spy="scroll"
  data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
  <div class="row">
    <div id="About" class="col-12 shadow-lg p-3 mb-5  rounded">
          <app-about></app-about>
    </div>
    <div id="Portfolio" class="col-12 shadow-lg p-3 mb-5  rounded">
         <app-portfolio></app-portfolio>
    </div>
    <div id="Skills" class="col-12 shadow-lg p-3 mb-5 rounded">
         <app-skills></app-skills>
    </div>
    <div id="Resume" class="col-12 shadow-lg p-3 mb-5  rounded">
         <app-resume></app-resume>
    </div>
    <div id="Contact" class="col-12 shadow-lg p-3  rounded">
         <app-contact></app-contact>
    </div>
  </div>
</aside>
<!-- 
<div class="sticky col-sm-12 col-md-1 col-xl-1">
  <div class="f-switch form-check form-switch">
    <label class="form-check-label" id="btdark" for="flexSwitchCheckChecked"><i class="fas fa-moon" ></i></label>
    <label class="form-check-label" id="btlight" for="flexSwitchCheckChecked"><i class="fas fa-moon text-light " ></i></label>
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="colorFn()">
  </div>
  <section class="d-flex w-100 flex-column justify-content-center align-items-center">
    <span class="bg-primary p-2"><i class="fab fa-facebook fs-3"></i></span>
    <hr>
    <span class="bg-primary p-2"><i class="fab fa-linkedin-in fs-3"></i></span>
    <hr>
    <span class="bg-primary p-2"><i class="fab fa-github fs-3"></i></span>
  </section>
</div> -->


  </div>
</div>