
<div class="col-md-12 text-light mb-3">
  <div class="d-flex flex-grow w-50 align-items-center " style="background-color: #44f0c2;">
  <i class="fas fa-bars fs-3 m-1"></i>
  <p class="fs-3 m-1">Resume</p>
</div>
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="bt1 accordion-button fs-3 text-body" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Employment
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="line">
          <strong class="p-2">Production Crew Team Lead</strong>–DJM Productions (Toronto, Ontario)
          <p class="indate px-2"><b>August, 2016 - October, 2019</b></p>
          <p class="px-2">I led a team of 15 technicians to implement new practices focused on efficiency
            and crew
            morale. I created sustainable growth of freelancers through excellent execution of over 30 shows
            per year and my largest event was an 8 day festival that had over 12,000 attendees.</p>

        </div>
        <div class="line">
          <strong class="p-2">Journalist</strong>–FSU Interrobang Newspaper (London, ON)
          <p class="indate px-2"><b>September, 2014 - September, 2016</b></p>
          <p class="px-2">I grew our readership through creatively written articles that resonated well with
            the readers. I also edited colleague's stories to ensure they met our strict formatting guide
            and weekly deadlines. Several of my articles were nominated for industry awards.F</p>

        </div>
        <div class="line">
          <strong class="p-2">Storefront Service Manager</strong>–Walmart (London, ON)
          <p class="indate px-2"><b>September, 2013 - November, 2014</b></p>
          <p class="px-2">I increased Walmart Mastercard applications by 20% through clear and effective</p>

        </div>
      </div>
    </div>
  </div>
  <!-- ____________________________________________________________ -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="bt2 accordion-button collapsed fs-3 text-body" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Education
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="line2">
          <strong class="p-2">Web Development Certification</strong>–Juno College of Technology
          <p class="indate px-2"><b>January 2020 - April 2020</b></p>
        </div>
        <div class="line2">
          <strong class="p-2">Part Time Javascript Fundamentals</strong>–Juno College of Technology
          <p class="indate px-2"><b>October 2019 - December 2019</b></p>
        </div>
        <div class="line2">
          <strong class="p-2">Full Time Web Development Fundamentals</strong>–Juno College of Technology
          <p class="indate px-2"><b>July 2019 - August 2019</b></p>
        </div>
        <div class="line2">
          <strong class="p-2">Audio Engineering Diploma</strong>–Fanshawe College
          <p class="indate px-2"><b>September 2014 - May 2016</b></p>
        </div>
      </div>
    </div>
  </div>
  <!-- ___________________________________________________________________ -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="bt3 accordion-button collapsed fs-3 text-body" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Community Involvement
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="line3">
          <strong class="p-2">Kids in Danger Non-Profit </strong>–Chicago
          <p class="indate px-2"><b>March, 2020 - May, 2020</b></p>
          <p class="px-2">Part of the web development team for google chrome browser extension informing
            Amazon shoppers about safety concerns and product recalls for items they view. I helped refactor
            existing code and style components to client's specification while remaining WCAG compliant.</p>

        </div>
        <div class="line3">
          <strong class="p-2">Lucknow's Music in the Fields</strong>–(Lucknow, ON)
          <p class="indate px-2"><b>August, 2017 - Present</b></p>
          <p class="px-2">Part of the festival production crew for this non-profit music event that directly
            supports local charities, hospitals, schools, and regional projects. To date, the festival has
            donated over 1.3 million dollars to fight cystic fibrosis and is one of the largest Kinsmen
            events in Ontario</p>

        </div>
      </div>
    </div>
  </div>
</div>